.button {
    height: auto;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.containerList {
    border-radius: 12px;
    padding: 17px;
    width: fit-content;
    margin: 40px auto;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.list {
    height: 300px;
    overflow: auto;
    width: 700px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.input {
    width: 90%;
}

.listItem {
    width: fit-content;
}

.listItemWrapper {
    display: flex;
    flex-direction: column;
}
