form {
    display: flex;
    flex-direction: column;

    input{
        border: solid 0.1px gray;
        border-radius: 5px;
        box-shadow:  0 0 6px grey;
        font-size: large;
        margin-bottom: 15px;
        padding: 5px;
        outline: none;
        width: 60vw;
    }
    
    input.error { 
        border: solid 0.1px red;
        box-shadow:  0 0 3px red;
    }
    input.success{
        border: solid 0.1px greenyellow;
        box-shadow:  0 0 3px greenyellow;
    }

    span.error{
        color: red;
    }

    button{
        font-size: large;
        width: 90px;
    }
}

