<div class="general">
    <h2>TRIVIAL</h2>
    <div class="wrapper">
        <div class="container">
            <form class="form">
                <label for="username">Usuario:</label>
                <input type="text" #username id="username" name="username" required>
        
                <label for="password">Contraseña:</label>
                <input type="password" #password id="password" name="password" required>

                <div *ngIf="error">
                    <p class="error">Introduzca una contraseña</p>
                    <p class="error">de 8 caracteres como mínimo</p>
                </div>
        
                <button type="button" (click)="logInUser(username.textContent!, password.textContent!)">Iniciar sesión</button>
            </form>
        </div>
    <a (click)="goToSignupPage()">¿No tienes una cuenta? Regístrate</a>
    </div>
</div>