<div class="general">
    <h2>TRIVIAL</h2>
    <div class="wrapper">
        <div class="container">
            <form class="form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
        
                <button type="submit">Login</button>
            </form>
        </div>
    <a (click)="goToSignupPage()">¿No tienes una cuenta? Regístrate</a>
    </div>
</div>