.author {
    align-items: center;
    display: flex;
    color: white;
}

.card {
    margin: 0 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #424242;
    transition: 0.5s ease;
}

.card:hover {
    margin: -5px 10px 25px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.2);
}

.container {
    width: 50%;

    @media (max-width: 992px) {
        width: 100%;
    }
}

.description {
    margin-bottom: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.iconAuthor {
    margin-right: 7px;
    cursor: pointer;
}

.imgCard {
    cursor: pointer;
}

.valuation {
    margin-left: auto;
}

.titleCard {
    color: white;
    cursor: pointer;
}
