.container {
    margin: 0 auto;
    border-radius: 12px;
}

.tab {
    background-color: #424242;
    width: 200px;
    color: rgb(104, 104, 104);

    @media screen and (max-width: 576px) {
        width: 150px;
    }
}