.links {
    -webkit-text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01071em;
    line-height: 1.43;
    margin: 0;
    text-decoration-color:  rgb(100, 31, 164);
    text-decoration: underline;
}

.btn {
    margin-top: 24px;
    margin-bottom: 16px;
}