.header {
    background-color: #424242;
    color: #ffffff;
    position: static;
}

.iconApp {
    margin-right: 17px;
}

.iconProfile {
    margin-left: 17px;
}

.icons {
    color: white;
    margin: auto 17px auto 17px;
    display: flex;
    align-items: center;
}
